<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Buy Page</title>
    <link rel="stylesheet" href="static\buy.css">
</head> 
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="title">Buy</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SELL</a></li>
                    <li><a href="#">BUY</a></li>
                </ul>
            </div>
        </div>
        <div class="search" style="text-align: center;">
            <form action="" method="post">
                <p>Searching For:</p>
                <p><input type = "text" id="search" name="search_bar" placeholder="Search" onkeyup="search()" /></p>
                <p id="output"></p>
                
            </form>
        </div>
    </div>
</body>
</html>