<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">UDictionary</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SELL</a></li>
                </ul>
            </div>
        </div>
        <div class="search">
            <input class="srch" type="search" name="" placeholder="Enter course code..">
            <a href="#"><button class="btn">Buy Books</button></a>
        
    </div>
</body>
</html>