<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">UDictionary</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SELL</a></li>
                </ul>
            </div>
        </div>
        <div class="search">
            <form action="#" method="post">
                <p>Name:</p>
                <p><input type = "text" name="search_bar" /></p>
                <p><input type = "submit" value ="submit"/></p>
            </form>
        
    </div>
</body>
</html>