<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">UDictionary</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('sell') }}">SELL</a></li>
                    <li><a href="{{ url_for('buy') }}">BUY</a></li>
                </ul>
            </div>
        </div>
        <div class="content" style="text-align: center;">
            <h2>Welcome to UDictionary!</h2>
            <p>
            </p>
        </div>
    </div>
</body>
</html>